process {
  executor='local'
  }

# Options to be added for docker use
docker {
    enabled = true
    temp = '/tmp/'
    runOptions = ' -p 3306 \
    -v /FASTA_file_hg19_folder/:/resources/ref/ \
    -v /DBSNP_resource_folder/:/resources/dbsnp/ \
    -v /EXOME_bed_file_folder/:/resources/exome \
    ##
    ## The following lines are to be used for eDiVA-Annotate, Prioritize, or Prepare-for-annotation
    ## They also require you to create a family_config file as explained in README
    ##
    -v /path_to_sample1/:/samples/sample1/  \
    -v /path_to_sample2/:/samples/sample2/  \
    -v /path_to_sample3/:/samples/sample3/  \
    ##
    ## eDiVA-Annotate specific line to add
    ##
    --link ediva_db_instance:mysqlsrv-ediva.linux.crg.es \
    '
     
}

#### look at resources, some of those you have to edit:
# REF : hg19.fasta file with indexes from bwa and for variant calling
# DBINDEL, DBSNP
# EXOME : the bedfile describing the captured areas from your kit
# All tool paths should not be changed to run with ediva containers

env {
    REF='/resources/ref/hg19.fasta'
    DBINDEL='/resources/dbsnp/dbsnp_138.hg19.indels.vcf'
    DBSNP='/resources/dbsnp/dbsnp_138.hg19.snps.vcf'
    EXOME='/resources/exome/allkit.clean.sort.merge.bed'
    EDIVA='/opt/edivatools-code/'
    PYTHON='/usr/bin/python'
    SAMTOOLS='/usr/bin/samtools'
    PICARD='/opt/picard-tools-1.119/'
    GATK='/usr/bin/GenomeAnalysisTK.jar'
    BEDTOOLS='/usr/bin/'
    BWA='/usr/bin/bwa'
    FASTQC='/usr/bin/fastqc/'
}



